<!DOCTYPE html>
<html>
        <link rel="stylesheet" href="static/style.css">
<body>

<form action="/" method="POST" style="border:1px solid #ccc">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input id="email" type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Username</b></label>
    <input id="username"  type="text" placeholder="Username" name="username" required>

    <label for="psw-repeat"><b>Password</b></label>
    <input id="password" type="password" placeholder="Password" name="password" required>

    <div class="clearfix">
      <button type="button" class="cancelbtn">
              <a href="/">Signup</a>
      </button>
      <button type="submit" class="signupbtn">Login</button>
    </div>
  </div>
</form>

</body>
</html>
