<!DOCTYPE html>
<html>
        <link rel="stylesheet" href="static/style.css">
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="/login" method="POST" style="border:1px solid #ccc">
  <div class="container">
    <h1>Login</h1>
    <hr>

    <label for="email"><b>Email</b></label>
    <input id="email" type="text" placeholder="Enter Email" name="email" required>

    <label for="psw-repeat"><b>Password</b></label>
    <input id="password" type="password" placeholder="Password" name="password" required>

    <div class="clearfix">
      <button type="button" class="cancelbtn">
              <a href="/">Signup</a>
      </button>
      <button type="submit" class="signupbtn">Login</button>
    </div>
  </div>
</form>

</body>
</html>
